
.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}


.pages {
    list-style: none;
    display: flex;
    gap: 5px;
}

.prevButton{
    border: 0.5px solid #9d54de;
    font-size: 15px ;
    background: none;
    cursor: pointer;
    color: #9d54de ;
    border-radius: 5px;
}

.pagesButton{
    border: 0.5px solid #9d54de;
    font-size: 15px ;
    background: none;
    cursor: pointer;
    color: #9d54de;
    border-radius: 5px;
}

.nextButton{
    border: 0.5px solid #9d54de;
    font-size: 15px ;
    background: none;
    cursor: pointer;
    color: #9d54de;
    border-radius: 5px;
}